body {
		font-family: Arial, Helvetica, sans-serif;
		background-image: url(images/08original.gif);   /*url(bg_grad.gif);*/
		background-repeat: repeat-x repeat-y;
	}

.brickred {
	color: #d43f3a;
}

ol.list-unstyled li {
	margin-top:5px;
	margin-bottom:5px;
}

p.listname {
	display: inline;
}



/* ------------------------------------------------------------------------------------------*/
/*//----- MEDIA QUERIES --------------------------------------------------------------------//*/
/* ------------------------------------------------------------------------------------------*/

		/* Large Devices, Wide Screens */
		@media only screen and (max-width : 2400px) {
			.img-thumbnail {
				width: 150px;
			}
			.hidephotos {
				display: none;
			}
		}

		/* iPad */
		@media only screen and (max-width : 1200px) {
			.img-thumbnail {
				width: 90px;
			}
		}

		/* Medium Devices, Desktops */
		@media only screen and (max-width : 992px) {
			.img-thumbnail {
				width: 70px;
			}
			.navbar-form .form-control {
				max-width:150px;
			}
		}

		/* Small Devices, Tablets */
		@media only screen and (max-width : 768px) {
			.img-thumbnail {
				width: 70px;
			}
			.navbar-brand {
				font-size: 14px;
			}
		}

		/* Small Devices, (i)Phones */ 
		@media only screen and (max-width : 480px) {

			.photos {
				margin: 0 auto;
				text-align: center;
			}

			.hidephotos {
				display:none;
			}
		}