/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

body {
		font-family: Arial, Helvetica, sans-serif;
	}

.beta{
	color:white;
	font-size: 12px;
}

.brickred {
	color: #d43f3a;
}

ol.list-unstyled li {
	margin-top:5px;
	margin-bottom:5px;
}

p.listname {
	display: inline;
}

.person {
	position: relative;
	float: left;
	min-height: 230px;
	display: inline-block;
}

.portfolio {
	position: absolute;
	top: 108px;
	right: 20px;
	height: 16px;
}

.btn-primary, .btn-new-primary, .btn-secondary, .btn-new-secondary, .btn-tertiary, .btn-ternary, .btn-quaternary, .btn-action {
	font-family: helvetica, arial, sans-serif;
	border-width: 1px;
	border-style: solid;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	cursor: pointer;
	font-size: 12px;
	line-height: 1.35;
	margin: 0;
	overflow: visible;
	padding: 3px 10px 2px;
	text-decoration: none !important;
	vertical-align: top;
	width: auto;
}

.btn-ternary, .btn-menu-open.btn-ternary, .btn-split.btn-ternary:hover {
	background: #CDE5F0;
	background: -moz-linear-gradient(top, #eef7fa 0, #eef7fa 1px, #dcedf5 1px, #cde5f0 100%);
	background: -o-linear-gradient(top, #eef7fa 0, #eef7fa 1px, #dcedf5 1px, #cde5f0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #eef7fa), color-stop(5%, #eef7fa), color-stop(5%, #dcedf5), color-stop(100%, #cde5f0));
	background: linear-gradient(top, #eef7fa 0%,#eef7fa 1px,#dcedf5 1px,#cde5f0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DCEDF5', endColorstr='#CDE5F0',GradientType=0 );
	border-color: #a3cfe4;
	color: #069 !important;
}

button.disabled{
	margin-bottom:5px;
}

.sign-in {
	margin-top: 10px;
}

#checkbox {
	float: left;
}

/*Profile page styles*/
.blog-post {
	min-height: 120px
}

.profile-pic {
	float:left;
	margin-right: 10px;
	width: 100px;
}

ul.positions {
	list-style: none;
	float: left;
	max-width: 34%;
}

ul.current.positions{
	margin-right: 10px;
}

/* ------------------------------------------------------------------------------------------*/
/*//----- MEDIA QUERIES --------------------------------------------------------------------//*/
/* ------------------------------------------------------------------------------------------*/

		/* Large Devices, Wide Screens */
		@media only screen and (max-width : 2400px) {
			.img-thumbnail {
				width: 120px;
			}
			.profile-pic {
				width: 100px;
			}

			.hidephotos {
				display: none;
			}
		}

		/* iPad */
		@media only screen and (max-width : 1200px) {
			.img-thumbnail {
				width: 90px;
			}
		}

		/* Medium Devices, Desktops */
		@media only screen and (max-width : 992px) {
			.img-thumbnail {
				width: 70px;
			}
			.profile-pic {
				width: 80px;
			}
			.navbar-form .form-control {
				max-width:150px;
			}
			.jumbotron h1, .jumbotron .h1 {
				font-size: 48px;
			}
		}

		/* Small Devices, Tablets */
		@media only screen and (max-width : 768px) {
			.img-thumbnail {
				width: 70px;
			}
			.profile-pic {
				width: 80px;
			}
			.navbar-brand {
				font-size: 14px;
			}
		}

		/* Small Devices, (i)Phones */ 
		@media only screen and (max-width : 480px) {

			.jumbotron h1, .jumbotron .h1 {
				font-size: 40px;
			}
			.photos {
				margin: 0 auto;
				text-align: center;
			}

			.hidephotos {
				display:none;
			}
			.profile-pic {
				width: 70px;
			}
			ul.positions {
				max-width: 47%;
			}
			ul.current.positions{
				margin-right: 15px;
			}
		}